<div class="container">
    <form [formGroup]="formularioBuscarGrp">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input formControlName="nombre" type="text" class="form-control" id="nombre">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input formControlName="apellidos" type="text" class="form-control" id="apellidos">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="descSolicitud">Descripción solicitud</label>
                    <input formControlName="descSolicitud" type="text" class="form-control" id="descSolicitud">
                </div>
            </div>

            <div class="col-sm-12">
                <button type="button" class="btn btn-primary mr-2" (click)="buscar()">Buscar</button>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Nuevo
                </button>
            </div>
        </div>
    </form>
</div>
<div class="container mt-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Area</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Solicitud</th>
                <th scope="col">Descripción</th>
                <th scope="col">Anexo</th>
                <th scope="col">Opcion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let req of listaRequerimiento; let i=index">
                <th scope="row">1</th>
                <td>{{req.nombreArea}}</td>
                <td>{{req.nombre}}</td>
                <td>{{req.apellidos}}</td>
                <td>{{req.nomSolicitud}}</td>
                <td>{{req.descSolicitud}}</td>
                <td>{{req.urlAnexo}}</td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm mr-1" (click)="eliminar(req)">Elim.</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="modificarData(req)" data-toggle="modal"
                        data-target="#exampleModal2">Modif.</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar requerimiento</h5>
                <button #closebutton type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formularioRegistrarGrp">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input formControlName="nombre" type="text" class="form-control" id="nombre">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="apellidos">Apellidos</label>
                                <input formControlName="apellidos" type="text" class="form-control" id="apellidos">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="area">Area</label>
                                <select formControlName="area" class="form-control" id="area">
                                    <option value="" disabled selected hidden>Seleccione</option>
                                    <option [ngValue]="area" *ngFor="let area of listaArea">{{area.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nomSolicitud">Nombre solicitud</label>
                                <input formControlName="nomSolicitud" type="text" class="form-control"
                                    id="nomSolicitud">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="descSolicitud">Descripción solicitud</label>
                                <textarea formControlName="descSolicitud" class="form-control" id="descSolicitud"
                                    rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="anexo">Anexo</label>
                                <input type="file" class="form-control-file" accept="application/pdf" id="anexo"
                                    (change)="cargarArchivoDocAdj($event)" multiple="false">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal2Label">Modificar requerimiento</h5>
                <button #closebutton2 type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formularioModificarGrp">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input formControlName="nombre" type="text" class="form-control" id="nombre">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="apellidos">Apellidos</label>
                                <input formControlName="apellidos" type="text" class="form-control" id="apellidos">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="area">Area</label>
                                <select formControlName="area" class="form-control" id="area">
                                    <option value="" disabled selected hidden>Seleccione</option>
                                    <option [ngValue]="area" *ngFor="let area of listaArea">{{area.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nomSolicitud">Nombre solicitud</label>
                                <input formControlName="nomSolicitud" type="text" class="form-control"
                                    id="nomSolicitud">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="descSolicitud">Descripción solicitud</label>
                                <textarea formControlName="descSolicitud" class="form-control" id="descSolicitud"
                                    rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="modificar()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>